@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Moo+Lah+Lah&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Righteous&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
.adoption-content {
  padding: 1.25rem;
  transition: width 0.3s ease;
  background-color: var(--color-light-green);
  min-height: calc(100vh); 
}

.adoption-content.chat-open {
  width: 60%;
  background-color: var(--color-light-green);
}

.myReq-page-title {
  font-size: 3rem;
  color: var(--color-dark-green);
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.cb-bg {
  background-color: var(--color-light-green);
}

.mypet-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  max-width: 75rem; 
  margin: 0 auto;
  transition: max-width 0.3s ease;
}

.chat-open .mypet-list {
  max-width: 60rem;
}

.mypet-card {
  display: flex;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, width 0.3s ease;
  width: 100%;
  max-width: 75rem; 
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
  max-height: 15rem;
}
.mypet-card p{
  margin-top: 1rem;
  font-weight: 700;
}
.chat-open .mypet-card {
  max-width: 60rem;
}

.mypet-card:hover {
  transform: translateY(-0.3125rem);
}

.mypet-info {
  flex: 1;
  padding: 1rem;
}

.mypet-name {
  font-size: 1.5rem;
  color: var(--color-dark-green);
  margin-bottom: 0.5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.mypet-breed,
.mypet-age,
.mypet-status {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
  font-family: 'Nunito', sans-serif;
}

.mypet-image {
  width: 30%;
  max-width: 30.375rem;
  height: 18.375rem; 
  transition: height 0.3s ease;
}

.chat-open .mypet-image {
  height: 15rem;
}

.mypet-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status-approved {
  background-color: #a3d0f3; 
}

.status-reviewed {
  background-color: #fafa84;
}

.status-rejected {
  background-color: #FFB6C1; 
}

.status-pending {
  background-color: white;
}

.chat-button {
  background-color: #3025ff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Nunito', sans-serif;
  margin-top: 0.5rem;
}

.chat-button:hover {
  background-color: #5047ff;
  color: white;
}

.adoption-content.chat-open {
  width: 70%;
  background-color: var(--color-light-green);
}

.adoption-page {
  background-color: var(--color-light-green);
}

@media (max-width: 47.9375rem) {
  .mypet-list {
    width: 90%;
  }

  .mypet-card {
    flex-direction: column;
  }

  .mypet-image {
    width: 100%;
    height: 12.5rem; 
    max-width: none;
  }
}