.ngo-worker-home {
  background-color: var(--color-light-green);
  min-height: 100vh;
  padding: 1.25rem;
  transition: margin-right 0.3s ease;
}

.ngo-worker-home.chat-open {
  margin-right: 25rem; /* Adjust based on your chat list width */
}

.ngo-worker-content {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.25rem;
  transition: width 0.3s ease;
}

.chat-open .ngo-worker-content {
  width: calc(100% - 25rem); /* Adjust based on your chat list width */
}

.page-title {
  font-size: 3rem;
  color: var(--color-dark-green);
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.dashboard-card {
  background-color: var(--color-dark-green);
  border-radius: 1rem;
  padding: 1.5rem;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 1.8rem;
  color: var(--color-mid-green);
  margin-bottom: 0.5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.card-description {
  font-size: 1rem;
  color: var(--color-light-green);
  font-family: 'Nunito', sans-serif;
  margin-top: 1rem;
}

.card-button {
  background-color: var(--color-mid-green);
  color: var(--color-dark-green);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin: 1.5rem auto auto auto;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: var(--color-light-green);
}

.chat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-list-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25rem; /* Adjust based on your chat list width */
  background-color: var(--color-light-green);
  z-index: 1000;
}

@media (max-width: 47.9375rem) {
  .page-title {
    font-size: 2.5rem;
  }

  .dashboard-grid {
    grid-template-columns: 1fr;
  }

  .ngo-worker-home.chat-open {
    margin-right: 0;
  }

  .chat-open .ngo-worker-content {
    width: 100%;
  }

  .chat-list-overlay {
    width: 100%;
  }
}